html{
    background-color: black;
}
.blue-box{
    background-color: rgb(85, 85, 255);
    width: 500px;
    height: 300px;
    position: relative;
    top: 200px;
    left: 200px;
}
.red-circle {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 85, 85);
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 250px;
}
.white-box{
    background: white;
    width:100px;
    height:60px;
    position: fixed;
    top: 10px;
    left:150px;
}
.second-red-circle{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position:absolute;
    top: 5px;
    left:25%;
}
.green-box{
    background-color: green;
    width: 100px;
    height: 60px;
    position: fixed;
    top: 10px;
    margin: auto;
}
.yellow-los{
    position:absolute;
    width: 40px;
    height: 40px; 
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: yellow;
    top: 10px;
    left: 30%;
}
.blue-circle{
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: auto;
    position: relative;
    top:5px;
}