html{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.mainImage{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}
